<a href="https://colab.research.google.com/github/PulkitKhator/Features-Analysis/blob/main/Features_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importing Libraries**

In [ ]:
#Importing the Libraries
import pandas as pd
import numpy as np

In [ ]:
def foo(x,y):
    try:
        return x/y
    except ZeroDivisionError:
        return 0

In [ ]:
foo(5,0)

0

#**Multi-Country Ordering**

In [ ]:
#Importing the Data
df_MongoDB = pd.read_csv('MongoDB Data.csv')

In [ ]:
#Look at the data
print(df_MongoDB)

          dateGST  promo.couponId headers.devicetype  ...   amount  n Unnamed: 11
0      01-06-2021               0            ANDROID  ...    35.50  1         NaN
1      01-06-2021             141            ANDROID  ...   112.50  1         NaN
2      01-06-2021               0                IOS  ...   105.00  2         NaN
3      01-06-2021               0            ANDROID  ...   288.00  1         NaN
4      01-06-2021               0                IOS  ...   198.00  1         NaN
...           ...             ...                ...  ...      ... ..         ...
32989  01-07-2021               0                IOS  ...    98.50  2         NaN
32990  01-07-2021             120            ANDROID  ...     7.44  2         NaN
32991  01-07-2021               0            ANDROID  ...  4557.00  1         NaN
32992  01-07-2021               0            ANDROID  ...   301.00  1         NaN
32993  01-07-2021               0                IOS  ...    33.50  1         NaN

[32994 rows x 12 columns]

In [ ]:
#Drop unnecessary column
df_MongoDB.drop('Unnamed: 11', axis=1, inplace=True)

In [ ]:
#Check datatypes
df_MongoDB.dtypes

dateGST                object
promo.couponId          int64
headers.devicetype     object
headers.appversion     object
headers.country        object
headers.language       object
payment.name           object
orderType              object
status                 object
amount                float64
n                       int64
dtype: object

In [ ]:
df_MongoDB['headers.appversion'][4]

'5.4.5'

In [ ]:
#Add App column
App = []
for row in df_MongoDB['headers.appversion']:
    if row == '5.1.1':    App.append('UAE')
    elif row == '5.3.1':   App.append('UAE')
    elif row == '5.5.1':  App.append('UAE')
    elif row == '3.1.1':  App.append('KSA')
    elif row == '5.1.2':  App.append('KSA')
    elif row == '5.2.2':  App.append('KSA')
    elif row == '5.4.1':  App.append('KSA')
    elif row == '5.5.2':  App.append('KSA')
    elif row == '4.3.3':  App.append('KWT')
    elif row == '5.6.3':  App.append('KWT')
    elif row == '4.6.4':  App.append('QAT')
    elif row == '4.0.0':  App.append('EGY')
    elif row == '5.4.5':  App.append('EGY')
    elif row == '5.7.5':  App.append('EGY')
    elif row == '4.1.0':  App.append('OMN')
    elif row == '4.1.6':  App.append('OMN')
    elif row == '4.2.7':  App.append('BHR')
        
    else:           App.append('Not_Given')

df_MongoDB['App'] = App
print(df_MongoDB)

          dateGST  promo.couponId headers.devicetype  ...   amount  n  App
0      01-06-2021               0            ANDROID  ...    35.50  1  UAE
1      01-06-2021             141            ANDROID  ...   112.50  1  UAE
2      01-06-2021               0                IOS  ...   105.00  2  UAE
3      01-06-2021               0            ANDROID  ...   288.00  1  EGY
4      01-06-2021               0                IOS  ...   198.00  1  EGY
...           ...             ...                ...  ...      ... ..  ...
32989  01-07-2021               0                IOS  ...    98.50  2  UAE
32990  01-07-2021             120            ANDROID  ...     7.44  2  KWT
32991  01-07-2021               0            ANDROID  ...  4557.00  1  EGY
32992  01-07-2021               0            ANDROID  ...   301.00  1  EGY
32993  01-07-2021               0                IOS  ...    33.50  1  UAE

[32994 rows x 12 columns]

In [ ]:
len(df_MongoDB)

32994

In [ ]:
#Add Amount_dollar column
Amount_dollar = []
for row in range(len(df_MongoDB)):
    if df_MongoDB['headers.country'][row] == 'UAE':    Amount_dollar.append(float(0.27*(float(df_MongoDB['amount'][row]))))
    elif df_MongoDB['headers.country'][row] == 'KSA':  Amount_dollar.append(float(0.27*(float(df_MongoDB['amount'][row]))))
    elif df_MongoDB['headers.country'][row] == 'KWT':  Amount_dollar.append(float(3.32*(float(df_MongoDB['amount'][row]))))
    elif df_MongoDB['headers.country'][row] == 'QAT':  Amount_dollar.append(float(0.27*(float(df_MongoDB['amount'][row]))))
    elif df_MongoDB['headers.country'][row] == 'EGY':  Amount_dollar.append(float(0.064*(float(df_MongoDB['amount'][row]))))
    elif df_MongoDB['headers.country'][row] == 'OMN':  Amount_dollar.append(float(2.6*(float(df_MongoDB['amount'][row]))))
    elif df_MongoDB['headers.country'][row] == 'BHR':  Amount_dollar.append(float(2.65*(float(df_MongoDB['amount'][row]))))
        
    else:           Amount_dollar.append(0)

df_MongoDB['Amount_dollar'] = Amount_dollar
print(df_MongoDB)

          dateGST  promo.couponId headers.devicetype  ...  n  App Amount_dollar
0      01-06-2021               0            ANDROID  ...  1  UAE        9.5850
1      01-06-2021             141            ANDROID  ...  1  UAE       30.3750
2      01-06-2021               0                IOS  ...  2  UAE       28.3500
3      01-06-2021               0            ANDROID  ...  1  EGY       18.4320
4      01-06-2021               0                IOS  ...  1  EGY       12.6720
...           ...             ...                ...  ... ..  ...           ...
32989  01-07-2021               0                IOS  ...  2  UAE       26.5950
32990  01-07-2021             120            ANDROID  ...  2  KWT       24.7008
32991  01-07-2021               0            ANDROID  ...  1  EGY      291.6480
32992  01-07-2021               0            ANDROID  ...  1  EGY       19.2640
32993  01-07-2021               0                IOS  ...  1  UAE        9.0450

[32994 rows x 13 columns]

In [ ]:
#Write the function for Multi-country ordering that takes country name as input and gives a List as output
def MultiCountryOrdering(country):
  X = df_MongoDB[(df_MongoDB['headers.country'] == country) & ((df_MongoDB['status'] == 'DELIVERED') | (df_MongoDB['status'] == 'READY') | (df_MongoDB['status'] == 'BEING_PREPARED'))]['n'].sum(axis = 0, skipna = True)
  Y = df_MongoDB[(df_MongoDB['headers.country'] == country) & ((df_MongoDB['status'] == 'DELIVERED') | (df_MongoDB['status'] == 'READY') | (df_MongoDB['status'] == 'BEING_PREPARED')) & (df_MongoDB['App'] == country)]['n'].sum(axis = 0, skipna = True)
  Z = X - Y
  W = (foo(Z,X))*100
  P = df_MongoDB[(df_MongoDB['headers.country'] == country) & ((df_MongoDB['status'] == 'DELIVERED') | (df_MongoDB['status'] == 'READY') | (df_MongoDB['status'] == 'BEING_PREPARED'))]['Amount_dollar'].sum(axis = 0, skipna = True)
  Q = df_MongoDB[(df_MongoDB['headers.country'] ==country) & ((df_MongoDB['status'] == 'DELIVERED') | (df_MongoDB['status'] == 'READY') | (df_MongoDB['status'] == 'BEING_PREPARED')) & (df_MongoDB['App'] == country)]['Amount_dollar'].sum(axis = 0, skipna = True)
  R = P - Q
  S = (foo(R,P))*100
  X2 = df_MongoDB[(df_MongoDB['App'] == country) & ((df_MongoDB['status'] == 'DELIVERED') | (df_MongoDB['status'] == 'READY') | (df_MongoDB['status'] == 'BEING_PREPARED'))]['n'].sum(axis = 0, skipna = True)
  Y2 = df_MongoDB[(df_MongoDB['App'] ==country) & ((df_MongoDB['status'] == 'DELIVERED') | (df_MongoDB['status'] == 'READY') | (df_MongoDB['status'] == 'BEING_PREPARED')) & (df_MongoDB['headers.country'] == country)]['n'].sum(axis = 0, skipna = True)
  Z2 = X2 - Y2
  W2 = (foo(Z2,X2))*100
  P2 = df_MongoDB[(df_MongoDB['App'] == country) & ((df_MongoDB['status'] == 'DELIVERED') | (df_MongoDB['status'] == 'READY') | (df_MongoDB['status'] == 'BEING_PREPARED'))]['Amount_dollar'].sum(axis = 0, skipna = True)
  Q2 = df_MongoDB[(df_MongoDB['headers.country'] == country) & ((df_MongoDB['status'] == 'DELIVERED') | (df_MongoDB['status'] == 'READY') | (df_MongoDB['status'] == 'BEING_PREPARED')) & (df_MongoDB['App'] == country)]['Amount_dollar'].sum(axis = 0, skipna = True)
  R2 = P2 - Q2
  S2 = (foo(R2,P2))*100
  count = [X, Y, Z, W, P, Q, R, S, X2, Y2, Z2, W2, P2, Q2, R2, S2]
  return count

In [ ]:
#Make different columns for the Dataframe
Node = ['Total Transactions', 'Transactions from same country App', 'Transactions from different country Apps', '% Transactions from other countries Apps', 'Total Revenue', 'Revenue from same country App', 'Revene from different country Apps', '% Revenue from other countries Apps', 'Total Transactions from the App', 'Transactions for same country', 'Transactions for other countries', '% Transactions for other countries', 'Total Revenue from the App', 'Revenue for same country', 'Revenue for other countries', '% Revenue for other countries']

UAE = MultiCountryOrdering('UAE')
KSA = MultiCountryOrdering('KSA')
KWT = MultiCountryOrdering('KWT')
QAT = MultiCountryOrdering('QAT')
EGY = MultiCountryOrdering('EGY')
OMN = MultiCountryOrdering('OMN')
BHR = MultiCountryOrdering('BHR')

print(UAE)

[155221, 154660, 561, 0.3614201686627454, 2807916.381, 2798129.5155, 9786.86549999984, 0.34854547543593106, 155086, 154660, 426, 0.2746863030834505, 2804477.66302, 2798129.5155, 6348.147519999649, 0.22635757109805793]

In [ ]:
#Make the Dataframe and print it
Multi_Country_Ordering = pd.DataFrame(list(zip(Node, UAE, KSA, KWT, QAT, EGY, OMN, BHR)),
               columns =['Node', 'UAE', 'KSA', 'KWT', 'QAT', 'EGY', 'OMN', 'BHR'])
Multi_Country_Ordering

                                        Node  ...           BHR
0                         Total Transactions  ...   2034.000000
1         Transactions from same country App  ...   2005.000000
2   Transactions from different country Apps  ...     29.000000
3   % Transactions from other countries Apps  ...      1.425762
4                              Total Revenue  ...  33145.537500
5              Revenue from same country App  ...  32634.352500
6         Revene from different country Apps  ...    511.185000
7        % Revenue from other countries Apps  ...      1.542244
8            Total Transactions from the App  ...   2064.000000
9              Transactions for same country  ...   2005.000000
10          Transactions for other countries  ...     59.000000
11        % Transactions for other countries  ...      2.858527
12                Total Revenue from the App  ...  33400.154500
13                  Revenue for same country  ...  32634.352500
14               Revenue for other countries  ...    765.802000
15             % Revenue for other countries  ...      2.292810

[16 rows x 8 columns]

# **Reorder - Easy**

In [ ]:
#Importing the Data
df_reorder = pd.read_csv('Reorder.csv')
df_purchase = pd.read_csv('Purchase.csv')

In [ ]:
#Look at the data for reorder
df_reorder

            bundle id  ...                                       date_user_ga
0        com.kfc.oman  ...  20210701da0ab9cb730b218779a53aada9a30b96162513...
1     com.kfc.bahrain  ...  20210701d96b7b3e643555b5230a4e1de8477526162515...
2       com.kfc.egypt  ...  20210701e40ec7af910c93519f25511c4b4335d2162516...
3       com.kfc.egypt  ...  20210701A4FA2ADED97E4811B0E1109E27F2CDA5162513...
4       com.kfc.egypt  ...  202107012fe130baffd542d3220b0657bccb6f4f162515...
...               ...  ...                                                ...
1704       com.kfc.me  ...  20210701A227807006974D8985CC936D20299C1C162513...
1705       com.kfc.me  ...  20210701BC43B6277DE348A293A4CCF2E70229BA162516...
1706       com.kfc.me  ...  20210701D95862E264F6439FAD2E5494024602B7162514...
1707    com.kfc.egypt  ...  202107012f82eae16350f02ea970f59c1a439a76162508...
1708    com.kfc.egypt  ...  202107016D4F11FD4AF64B51AB985DA985108C0E162509...

[1709 rows x 10 columns]

In [ ]:
#Check datatypes
df_reorder.dtypes

bundle id           object
event_date           int64
platform            object
user_pseudo_id      object
event_timestamp      int64
event_name          object
ga_session_id      float64
EventCategory       object
EventLabel          object
date_user_ga        object
dtype: object

In [ ]:
#Look at the data for purchase
df_purchase

          bundle id  event_date platform  ... OrderType  currency event_timestamp
0      com.kfc.oman    20210701  ANDROID  ...  DELIVERY       OMR    1.625130e+15
1      com.kfc.oman    20210701  ANDROID  ...  DELIVERY       OMR    1.625160e+15
2      com.kfc.oman    20210701  ANDROID  ...    PICKUP       OMR    1.625140e+15
3      com.kfc.oman    20210701  ANDROID  ...  DELIVERY       OMR    1.625150e+15
4      com.kfc.oman    20210701  ANDROID  ...  DELIVERY       OMR    1.625130e+15
...             ...         ...      ...  ...       ...       ...             ...
21564  com.kfc.oman    20210701      IOS  ...  DELIVERY       OMR    1.625150e+15
21565  com.kfc.oman    20210701      IOS  ...  DELIVERY       OMR    1.625160e+15
21566  com.kfc.oman    20210701      IOS  ...  DELIVERY       OMR    1.625150e+15
21567  com.kfc.oman    20210701      IOS  ...  DELIVERY       OMR    1.625160e+15
21568  com.kfc.oman    20210701      IOS  ...  DELIVERY       OMR    1.625160e+15

[21569 rows x 13 columns]

In [ ]:
#Check datatypes
df_purchase.dtypes

bundle id           object
event_date           int64
platform            object
user_pseudo_id      object
ga_session_id      float64
event_name          object
transactionId       object
payment_type        object
PreferredMode       object
Amount             float64
OrderType           object
currency            object
event_timestamp    float64
dtype: object

In [ ]:
#Add date_user_ga column in df_purchase
df_purchase['date_user_ga'] =  df_purchase['event_date'].astype(str) + df_purchase['user_pseudo_id'].astype(str) + df_purchase['ga_session_id'].astype(str)
for row in range(len(df_purchase)):
  df_purchase['date_user_ga'][row] = df_purchase['date_user_ga'][row][0:50]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df_purchase['date_user_ga'][0]

'202107011963ceadd9de6746a5504aa4f8be8f521625128844'

In [ ]:
#Add Amount_dollar column in df_purchase
Amount_dollar = []
for row in range(len(df_purchase)):
    if df_purchase['bundle id'][row] == 'com.kfc.me':    Amount_dollar.append(float(0.27*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.ksa':  Amount_dollar.append(float(0.27*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.kwt':  Amount_dollar.append(float(3.32*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.qatar':  Amount_dollar.append(float(0.27*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.egypt':  Amount_dollar.append(float(0.064*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.oman':  Amount_dollar.append(float(2.6*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.bahrain':  Amount_dollar.append(float(2.65*(float(df_purchase['Amount'][row]))))
        
    else:           Amount_dollar.append(0)

df_purchase['Amount_dollar'] = Amount_dollar
print(df_purchase)

          bundle id  ...  Amount_dollar
0      com.kfc.oman  ...      10.387000
1      com.kfc.oman  ...      21.905000
2      com.kfc.oman  ...      17.069000
3      com.kfc.oman  ...      11.336000
4      com.kfc.oman  ...       8.749000
...             ...  ...            ...
21564  com.kfc.oman  ...      14.469000
21565  com.kfc.oman  ...      19.812000
21566  com.kfc.oman  ...      19.110000
21567  com.kfc.oman  ...      10.101000
21568  com.kfc.oman  ...      16.926001

[21569 rows x 15 columns]

In [ ]:
df_purchase

          bundle id  ...  Amount_dollar
0      com.kfc.oman  ...      10.387000
1      com.kfc.oman  ...      21.905000
2      com.kfc.oman  ...      17.069000
3      com.kfc.oman  ...      11.336000
4      com.kfc.oman  ...       8.749000
...             ...  ...            ...
21564  com.kfc.oman  ...      14.469000
21565  com.kfc.oman  ...      19.812000
21566  com.kfc.oman  ...      19.110000
21567  com.kfc.oman  ...      10.101000
21568  com.kfc.oman  ...      16.926001

[21569 rows x 15 columns]

In [ ]:
#Add Purchase column in df_reorder
Purchase = []
purchase_list = df_purchase['date_user_ga'].tolist()
for row in range(len(df_reorder)):
  if df_reorder['date_user_ga'][row] in purchase_list:
    Purchase.append(1)
  else:
    Purchase.append(0)
df_reorder['Purchase'] = Purchase

In [ ]:
#Add Amount_dollar column in df_reorder
Amount_reorder = []
for row in range(len(df_reorder)):
  if df_reorder['Purchase'][row] == 1:
    index_number = df_purchase.index[df_purchase['date_user_ga'] == df_reorder['date_user_ga'][row]][0]
    Amount_reorder.append(df_purchase['Amount_dollar'][index_number])
  else:
    Amount_reorder.append(0)
df_reorder['Amount_dollar'] = Amount_reorder

In [ ]:
df_reorder['Amount_dollar'][1]

19.61000025175

In [ ]:
df_reorder.head(20)

          bundle id  event_date  ... Purchase Amount_dollar
0      com.kfc.oman    20210701  ...        0       0.00000
1   com.kfc.bahrain    20210701  ...        1      19.61000
2     com.kfc.egypt    20210701  ...        0       0.00000
3     com.kfc.egypt    20210701  ...        0       0.00000
4     com.kfc.egypt    20210701  ...        0       0.00000
5     com.kfc.egypt    20210701  ...        1       6.97600
6     com.kfc.egypt    20210701  ...        1      12.35072
7      com.kfc.oman    20210701  ...        1      21.90500
8      com.kfc.oman    20210701  ...        0       0.00000
9     com.kfc.egypt    20210701  ...        1      14.97600
10    com.kfc.egypt    20210701  ...        0       0.00000
11    com.kfc.egypt    20210701  ...        1       4.86400
12    com.kfc.egypt    20210701  ...        1       6.46400
13  com.kfc.bahrain    20210701  ...        1       9.54000
14  com.kfc.bahrain    20210701  ...        1      10.60000
15    com.kfc.egypt    20210701  ...        1      14.91200
16    com.kfc.egypt    20210701  ...        1       8.76800
17    com.kfc.qatar    20210701  ...        0       0.00000
18    com.kfc.qatar    20210701  ...        0       0.00000
19     com.kfc.oman    20210701  ...        0       0.00000

[20 rows x 12 columns]

In [ ]:
#Write the function for Reorder - Easy that takes bundle id as input and gives a List as output
def ReorderEasy(bundle_id):
  A = len(df_purchase[df_purchase['bundle id'] == bundle_id])
  B = df_purchase[df_purchase['bundle id'] == bundle_id]['Amount_dollar'].sum(axis = 0, skipna = True)
  C = df_reorder[df_reorder['bundle id'] == bundle_id]['Purchase'].sum(axis = 0, skipna = True)
  D = df_reorder[df_reorder['bundle id'] == bundle_id]['Amount_dollar'].sum(axis = 0, skipna = True)
  E = (foo(C,A))*100
  F = (foo(D,B))*100
  G = 
  H = len(df_reorder[df_reorder['bundle id'] == bundle_id])
  I = (foo(H,G))*100
  J = (foo(A,G))*100
  K = (foo(C,H))*100
  L = len(df_reorder[(df_reorder['bundle id'] == bundle_id) & (df_reorder['EventCategory'] == 'ReorderOnHome')])
  M = len(df_reorder[(df_reorder['bundle id'] == bundle_id) & (df_reorder['EventCategory'] == 'ReorderOnOrderListing')])
  N = len(df_reorder[(df_reorder['bundle id'] == bundle_id) & (df_reorder['EventCategory'] == 'Reorder')])
  O = df_reorder[(df_reorder['bundle id'] == bundle_id) & (df_reorder['EventCategory'] == 'ReorderOnHome')]['Purchase'].sum(axis = 0, skipna = True)
  P = df_reorder[(df_reorder['bundle id'] == bundle_id) & (df_reorder['EventCategory'] == 'ReorderOnOrderListing')]['Purchase'].sum(axis = 0, skipna = True)
  Q = df_reorder[(df_reorder['bundle id'] == bundle_id) & (df_reorder['EventCategory'] == 'Reorder')]['Purchase'].sum(axis = 0, skipna = True)
  R = df_reorder[(df_reorder['bundle id'] == bundle_id) & (df_reorder['EventCategory'] == 'ReorderOnHome')]['Amount_dollar'].sum(axis = 0, skipna = True)
  S = df_reorder[(df_reorder['bundle id'] == bundle_id) & (df_reorder['EventCategory'] == 'ReorderOnOrderListing')]['Amount_dollar'].sum(axis = 0, skipna = True)
  T = df_reorder[(df_reorder['bundle id'] == bundle_id) & (df_reorder['EventCategory'] == 'Reorder')]['Amount_dollar'].sum(axis = 0, skipna = True)
  count = [A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T]
  return count

In [ ]:
#Make different columns for the Dataframe
Node = ['Total Transactions', 'Total Revenue', 'Transactions with Reorder', 'Revenue with Reorder', '%Transactions with Reorder', '%Revenue with Reorder', 'Total Sessions', 'Sessions with Reorder Click', '%Sessions with Reorder', 'Total CR%', 'CR% of reorder click', 'ReorderOnHome - Click', 'ReorderOnOrderListing - Click', 'Reorder-click', 'ReorderOnHome - Purchase', 'ReorderOnOrderListing - Purchase', 'Reorder - Purchase', 'ReorderOnHome - Revenue', 'ReorderOnOrderListing - Revenue', 'Reorder - Revenue']

UAE = ReorderEasy('com.kfc.me')
KSA = ReorderEasy('com.kfc.ksa')
KWT = ReorderEasy('com.kfc.kwt')
QAT = ReorderEasy('com.kfc.qatar')
EGY = ReorderEasy('com.kfc.egypt')
OMN = ReorderEasy('com.kfc.oman')
BHR = ReorderEasy('com.kfc.bahrain')

print(UAE)

In [ ]:
#Make the Dataframe and print it
Reorder_Easy = pd.DataFrame(list(zip(Node, UAE, KSA, KWT, QAT, EGY, OMN, BHR)),
               columns =['Node', 'UAE', 'KSA', 'KWT', 'QAT', 'EGY', 'OMN', 'BHR'])
Reorder_Easy

#**OTP via email**

In [ ]:
#Importing the Data
df_OTP = pd.read_csv('OTP.csv')
df_purchase = pd.read_csv('Purchase.csv')

In [ ]:
#Add date_user_ga column in df_purchase
df_purchase['date_user_ga'] =  df_purchase['event_date'].astype(str) + df_purchase['user_pseudo_id'].astype(str) + df_purchase['ga_session_id'].astype(str)
for row in range(len(df_purchase)):
  df_purchase['date_user_ga'][row] = df_purchase['date_user_ga'][row][0:50]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
#Add Amount_dollar column in df_purchase
Amount_dollar = []
for row in range(len(df_purchase)):
    if df_purchase['bundle id'][row] == 'com.kfc.me':    Amount_dollar.append(float(0.27*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.ksa':  Amount_dollar.append(float(0.27*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.kwt':  Amount_dollar.append(float(3.32*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.qatar':  Amount_dollar.append(float(0.27*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.egypt':  Amount_dollar.append(float(0.064*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.oman':  Amount_dollar.append(float(2.6*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.bahrain':  Amount_dollar.append(float(2.65*(float(df_purchase['Amount'][row]))))
        
    else:           Amount_dollar.append(0)

df_purchase['Amount_dollar'] = Amount_dollar
print(df_purchase)

          bundle id  ...  Amount_dollar
0      com.kfc.oman  ...      10.387000
1      com.kfc.oman  ...      21.905000
2      com.kfc.oman  ...      17.069000
3      com.kfc.oman  ...      11.336000
4      com.kfc.oman  ...       8.749000
...             ...  ...            ...
21564  com.kfc.oman  ...      14.469000
21565  com.kfc.oman  ...      19.812000
21566  com.kfc.oman  ...      19.110000
21567  com.kfc.oman  ...      10.101000
21568  com.kfc.oman  ...      16.926001

[21569 rows x 15 columns]

In [ ]:
#Look at the data for purchase
df_purchase

          bundle id  ...  Amount_dollar
0      com.kfc.oman  ...      10.387000
1      com.kfc.oman  ...      21.905000
2      com.kfc.oman  ...      17.069000
3      com.kfc.oman  ...      11.336000
4      com.kfc.oman  ...       8.749000
...             ...  ...            ...
21564  com.kfc.oman  ...      14.469000
21565  com.kfc.oman  ...      19.812000
21566  com.kfc.oman  ...      19.110000
21567  com.kfc.oman  ...      10.101000
21568  com.kfc.oman  ...      16.926001

[21569 rows x 15 columns]

In [ ]:
#Look at the data for OTP
df_OTP.head(10)

              id  ...                                       date_user_ga
0  com.kfc.egypt  ...  202107014A02C68AFCF74C2597F20E0F59C5C74B162513...
1    com.kfc.kwt  ...  202107015D80F84171C44E138C21A9075B16D7C6162517...
2    com.kfc.kwt  ...  202107014A02C68AFCF74C2597F20E0F59C5C74B162516...
3    com.kfc.kwt  ...  2021070185D178B3552741F3824CEA9203168E2E162514...
4    com.kfc.kwt  ...  202107014A02C68AFCF74C2597F20E0F59C5C74B162511...
5    com.kfc.ksa  ...  20210701778E8D39C1104071A309022CB512E9DC162515...
6    com.kfc.ksa  ...  202107017358768D64134AD6854115CB6C81A89C162514...
7    com.kfc.ksa  ...  2021070189cbdc88e564842ae97f1a34a0ea9d03162516...
8    com.kfc.ksa  ...  20210701c1e8c74c572f5e0a7833acacb32ba3da162516...
9    com.kfc.ksa  ...  202107019C780E82AB9749F9A41F6423FF2EC983162509...

[10 rows x 15 columns]

In [ ]:
df_purchase.dtypes

bundle id           object
event_date           int64
platform            object
user_pseudo_id      object
ga_session_id      float64
event_name          object
transactionId       object
payment_type        object
PreferredMode       object
Amount             float64
OrderType           object
currency            object
event_timestamp    float64
date_user_ga        object
Amount_dollar      float64
dtype: object

In [ ]:
#check datatypes
df_OTP.dtypes

id                  object
event_date           int64
platform            object
user_pseudo_id      object
ga_session_id        int64
event_name          object
EventCategory       object
EventAction         object
EventLabel          object
OTPVerification     object
UserType            object
ZeroOmission        object
Country             object
event_timestamp    float64
date_user_ga        object
dtype: object

In [ ]:
#Add Purchase column in df_OTP
Purchase = []
purchase_list = df_purchase['date_user_ga'].tolist()
for row in range(len(df_OTP)):
  if df_OTP['date_user_ga'][row] in purchase_list:
    Purchase.append(1)
  else:
    Purchase.append(0)
df_OTP['Purchase'] = Purchase

In [ ]:
#Add Amount_dollar column in df_OTP
Amount_OTP = []
for row in range(len(df_OTP)):
  if df_OTP['Purchase'][row] == 1:
    index_number = df_purchase.index[df_purchase['date_user_ga'] == df_OTP['date_user_ga'][row]][0]
    Amount_OTP.append(df_purchase['Amount_dollar'][index_number])
  else:
    Amount_OTP.append(0)
df_OTP['Amount_dollar'] = Amount_OTP

In [ ]:
#Add UserPurchase column and Amount_dollar2 column in df_OTP
UserPurchase = []
Amount_OTP_user = []
for row in range(len(df_OTP)):
  id = df_OTP['id'][row]
  user_id = df_OTP['user_pseudo_id'][row]
  counting = len(df_purchase[(df_purchase['bundle id'] == id) & (df_purchase['user_pseudo_id'] == user_id)])
  counting_amount = df_purchase[(df_purchase['bundle id'] == id) & (df_purchase['user_pseudo_id'] == user_id)]['Amount_dollar'].sum(axis = 0, skipna = True)
  UserPurchase.append(counting)
  Amount_OTP_user.append(counting_amount)
df_OTP['UserPurchase'] = UserPurchase
df_OTP['Amount_dollar2'] = Amount_OTP_user

In [ ]:
#Write the function for OTP via email that takes bundle id(id) as input and gives a List as output
def OTP(id):
  A = len(df_OTP[(df_OTP['id'] == id) & (df_OTP['EventCategory'] == 'PhoneNumberVerification') & (df_OTP['EventAction'] == 'ClickOnSubmit') & (df_OTP['EventLabel'] == 'RequestOTP')])
  B = len(df_OTP[(df_OTP['id'] == id) & (df_OTP['EventCategory'] == 'PhoneNumberVerification') & (df_OTP['EventAction'] == 'ClickOnVerify') & (df_OTP['EventLabel'] == 'OTPVerification') & (df_OTP['OTPVerification'] == 'Success')])
  C = len(df_OTP[(df_OTP['id'] == id) & (df_OTP['EventCategory'] == 'PhoneNumberVerification') & (df_OTP['EventAction'] == 'ClickOnVerify') & (df_OTP['EventLabel'] == 'OTPVerification') & (df_OTP['OTPVerification'] == 'Failure')])
  D = A - B
  E = len(df_OTP[(df_OTP['id'] == id) & (df_OTP['EventCategory'] == 'RequestVerificationViaEmail') & (df_OTP['EventAction'] == 'ClickOnGetOTPOnEmail') & (df_OTP['EventLabel'] == 'RequestVerificationViaEmail')])
  F = len(df_OTP[(df_OTP['id'] == id) & (df_OTP['EventCategory'] == 'EmailIDVerification') & (df_OTP['EventAction'] == 'ClickOnVerify') & (df_OTP['EventLabel'] == 'OTPVerification')])
  G = df_OTP[(df_OTP['id'] == id) & (df_OTP['EventCategory'] == 'EmailIDVerification')]['Purchase'].sum(axis = 0, skipna = True)
  H = df_OTP[(df_OTP['id'] == id) & (df_OTP['EventCategory'] == 'EmailIDVerification')]['Amount_dollar'].sum(axis = 0, skipna = True)
  I = df_OTP[(df_OTP['id'] == id) & (df_OTP['EventCategory'] == 'EmailIDVerification')]['UserPurchase'].sum(axis = 0, skipna = True)
  J = df_OTP[(df_OTP['id'] == id) & (df_OTP['EventCategory'] == 'EmailIDVerification')]['Amount_dollar2'].sum(axis = 0, skipna = True)
  count = [A, B, C, D, E, F, G, H, I, J]
  return count

In [ ]:
#Make different columns for the Dataframe
Node = ['OTP requested for Phone verification', 'OTP success for Phone verification', 'OTP failure for Phone verification', 'OTP failure/blank for Phone verification', 'Request for OTP via Email', 'OTP via Email Success', 'same session orders', 'same session revenue', 'all orders', 'all revenue']

UAE = OTP('com.kfc.me')
KSA = OTP('com.kfc.ksa')
KWT = OTP('com.kfc.qatar')
QAT = OTP('com.kfc.kwt')
EGY = OTP('com.kfc.egypt')
OMN = OTP('com.kfc.oman')
BHR = OTP('com.kfc.bahrain')

print(UAE)

[5171, 3150, 25, 2021, 29, 17, 7, 90.11250000000001, 9, 126.29250000000002]

In [ ]:
#Make the Dataframe and print it
OTP_via_email = pd.DataFrame(list(zip(Node, UAE, KSA, KWT, QAT, EGY, OMN, BHR)),
               columns =['Node', 'UAE', 'KSA', 'KWT', 'QAT', 'EGY', 'OMN', 'BHR'])
OTP_via_email

                                       Node        UAE  ...  OMN  BHR
0      OTP requested for Phone verification  5171.0000  ...  0.0  0.0
1        OTP success for Phone verification  3150.0000  ...  0.0  0.0
2        OTP failure for Phone verification    25.0000  ...  0.0  0.0
3  OTP failure/blank for Phone verification  2021.0000  ...  0.0  0.0
4                 Request for OTP via Email    29.0000  ...  0.0  0.0
5                     OTP via Email Success    17.0000  ...  0.0  0.0
6                       same session orders     7.0000  ...  0.0  0.0
7                      same session revenue    90.1125  ...  0.0  0.0
8                                all orders     9.0000  ...  0.0  0.0
9                               all revenue   126.2925  ...  0.0  0.0

[10 rows x 8 columns]

#**Zero Omission**

In [ ]:
#Importing the Data
df_OTP = pd.read_csv('OTP.csv')

In [ ]:
#Write the function for Zero Omission that takes bundle id(id) as input and gives a List as output
def ZeroOmission(id):
  A = len(df_OTP[(df_OTP['id'] == id) & (df_OTP['ZeroOmission'] == 'Yes')])
  B = len(df_OTP[(df_OTP['id'] == id) & (df_OTP['ZeroOmission'] == 'No')])
  C = (foo(A,(A+B)))*100
  count = [A, B, C]
  return count

In [ ]:
#Make different columns for the Dataframe
Node = ['Yes','No','Zero omitted %']

UAE = ZeroOmission('com.kfc.me')
KSA = ZeroOmission('com.kfc.ksa')
KWT = ZeroOmission('com.kfc.kwt')
QAT = ZeroOmission('com.kfc.qatar')
EGY = ZeroOmission('com.kfc.egypt')
OMN = ZeroOmission('com.kfc.oman')
BHR = ZeroOmission('com.kfc.bahrain')

print(UAE)

[358, 4604, 7.214832728738411]

In [ ]:
#Make the Dataframe and print it
Zero_Omission = pd.DataFrame(list(zip(Node, UAE, KSA, KWT, QAT, EGY, OMN, BHR)),
               columns =['Node', 'UAE', 'KSA', 'KWT', 'QAT', 'EGY', 'OMN', 'BHR'])
Zero_Omission

             Node          UAE          KSA  ...         EGY  OMN  BHR
0             Yes   358.000000   396.000000  ...   85.000000    0    0
1              No  4604.000000  5828.000000  ...  811.000000    0    0
2  Zero omitted %     7.214833     6.362468  ...    9.486607    0    0

[3 rows x 8 columns]

#**Future Order**

In [ ]:
#Importing the Data
df_purchase = pd.read_csv('Purchase.csv')

In [ ]:
#Add Amount_dollar column in df_purchase
Amount_dollar = []
for row in range(len(df_purchase)):
    if df_purchase['bundle id'][row] == 'com.kfc.me':    Amount_dollar.append(float(0.27*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.ksa':  Amount_dollar.append(float(0.27*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.kwt':  Amount_dollar.append(float(3.32*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.qatar':  Amount_dollar.append(float(0.27*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.egypt':  Amount_dollar.append(float(0.064*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.oman':  Amount_dollar.append(float(2.6*(float(df_purchase['Amount'][row]))))
    elif df_purchase['bundle id'][row] == 'com.kfc.bahrain':  Amount_dollar.append(float(2.65*(float(df_purchase['Amount'][row]))))
        
    else:           Amount_dollar.append(0)

df_purchase['Amount_dollar'] = Amount_dollar
print(df_purchase)

          bundle id  event_date  ... event_timestamp Amount_dollar
0      com.kfc.oman    20210701  ...    1.625130e+15     10.387000
1      com.kfc.oman    20210701  ...    1.625160e+15     21.905000
2      com.kfc.oman    20210701  ...    1.625140e+15     17.069000
3      com.kfc.oman    20210701  ...    1.625150e+15     11.336000
4      com.kfc.oman    20210701  ...    1.625130e+15      8.749000
...             ...         ...  ...             ...           ...
21564  com.kfc.oman    20210701  ...    1.625150e+15     14.469000
21565  com.kfc.oman    20210701  ...    1.625160e+15     19.812000
21566  com.kfc.oman    20210701  ...    1.625150e+15     19.110000
21567  com.kfc.oman    20210701  ...    1.625160e+15     10.101000
21568  com.kfc.oman    20210701  ...    1.625160e+15     16.926001

[21569 rows x 14 columns]

In [ ]:
#Write the function for OTP via email that takes bundle id(id) as input and gives a List as output
def FutureOrder(bundle_id):
  A = len(df_purchase[(df_purchase['bundle id'] == bundle_id) & ((df_purchase['PreferredMode'] == 'FutureOrder') | (df_purchase['PreferredMode'] == 'Future Order'))])
  B = len(df_purchase[(df_purchase['bundle id'] == bundle_id)])
  C = df_purchase[(df_purchase['bundle id'] == bundle_id) & ((df_purchase['PreferredMode'] == 'FutureOrder') | (df_purchase['PreferredMode'] == 'Future Order'))]['Amount_dollar'].sum(axis = 0, skipna = True)
  D = df_purchase[(df_purchase['bundle id'] == bundle_id)]['Amount_dollar'].sum(axis = 0, skipna = True)
  E = foo(C,A)
  F = foo(D,B)
  G = (foo(A,B))*100
  H = (foo(C,D))*100
  I = (foo(E-F,F))*100
  count = [A, B, C, D, E, F, G, H, I]
  return count

In [ ]:
#Make different columns for the Dataframe
Node = ['Future Order - Transactions', 'Total Transactions', 'Future Order Revenue', 'Total Revenue', 'Future Order - AOV', 'Overall - AOV', 'Future Order - Transactions%', 'Future Order Revenue%', 'AOV jump']

UAE = FutureOrder('com.kfc.me')
KSA = FutureOrder('com.kfc.ksa')
KWT = FutureOrder('com.kfc.kwt')
QAT = FutureOrder('com.kfc.qatar')
EGY = FutureOrder('com.kfc.egypt')
OMN = FutureOrder('com.kfc.oman')
BHR = FutureOrder('com.kfc.bahrain')

print(UAE)

[48, 6617, 1287.9, 128635.13070245998, 26.83125, 19.440098337987, 0.7254042617500378, 1.0012039424743016, 38.02013515317612]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#Make the Dataframe and print it
Future_Order = pd.DataFrame(list(zip(Node, UAE, KSA, KWT, QAT, EGY, OMN, BHR)),
               columns =['Node', 'UAE', 'KSA', 'KWT', 'QAT', 'EGY', 'OMN', 'BHR'])
Future_Order

                           Node            UAE  ...           OMN          BHR
0   Future Order - Transactions      48.000000  ...      0.000000     0.000000
1            Total Transactions    6617.000000  ...    846.000000   115.000000
2          Future Order Revenue    1287.900000  ...      0.000000     0.000000
3                 Total Revenue  128635.130702  ...  14730.676992  2474.040011
4            Future Order - AOV      26.831250  ...           NaN          NaN
5                 Overall - AOV      19.440098  ...     17.412148    21.513391
6  Future Order - Transactions%       0.725404  ...      0.000000     0.000000
7         Future Order Revenue%       1.001204  ...      0.000000     0.000000
8                      AOV jump      38.020135  ...           NaN          NaN

[9 rows x 8 columns]